<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
</head>
<body>
    <h3>Comment louer mon équipement sportif ?</h3>
    <h3>Découvrez toutes nos offres de location</h3>
</body>
</html>