<%- include('header'); -%>

<div class="space"></div>
<div class="banner">
  <h2>Compte</h2>
</div>

<nav class="ariane">
  <a href="/">Accueil</a>
  <span>&gt;</span>
  <a class="gras" href="/compte">Compte</a>
</nav>
<div class="compte-data">
  <div class="compte-title">
    <h1>Bonjour element.login,</h1>
  </div>
  <div class="compte-infos">
    
  </div>
</div>

<%- include('footer'); -%>
