<%- include('header'); -%>

<div class="toutelapage">
<div class="contact-card">
    <div class="image-container">
        <img src="/2024BUT2_mnavellou_mpottier_alglg/public/img/sportcontact.jpg" alt="Salle de sport">
    </div>
    <div class="contact-info">
        <div class="contact-details">
            <p><img src="email-icon.png" alt="Email" class="icon"> Loc-Fitdu22@gmail.com</p>
            <p><img src="phone-icon.png" alt="Téléphone" class="icon"> 07 01 02 03 04</p>
            <div class="socials">
                <p><img src="twitter-icon.png" alt="Twitter" class="icon"> @loc_fit</p>
                <p><img src="instagram-icon.png" alt="Instagram" class="icon"> @loc_fit</p>
                <p><img src="facebook-icon.png" alt="Facebook" class="icon"> @loc_fit</p>
                <p><img src="github-icon.png" alt="Github" class="icon"> @loc_fit</p>
            </div>
        </div>
        <div class="location">
            <p><img src="location-icon.png" alt="Localisation" class="icon"> 10 Rue Jules Ferry<br>22200 Pabu</p>
        </div>
    </div>
</div>
</div>