<footer>
    <div class="sectionLogo">
      <div class="logo-network">
        <div class="logofooter">
          <img src="" alt="" />
        </div>
        <div class="network">
          <div class="icons">
            <img src="" alt="" />
          </div>
          <div class="icons">
            <img src="" alt="" />
          </div>
          <div class="icons">
            <img src="" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="section2">
      <h5>LOCFIT</h5>
      <span>Lorem </span>
      <span>Lorem </span>
      <span>Lorem </span>
    </div>
    <div class="section3">
      <h5>LOCFIT</h5>
      <span>Lorem </span>
      <span>Lorem </span>
      <span>Lorem </span>
    </div>
    <div class="section4">
      <h5>LOCFIT</h5>
      <span>Lorem </span>
      <span>Lorem </span>
      <span>Lorem </span>
    </div>
  </footer>
</body>
</html>
