<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocFit by AMM</title>
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/video.css" />
  </head>
  <body>
        <header>

          <nav>
            <ul>
              <li id="mainLOCFIT"><a href="">LOCFIT</a></li>
              <li class="li-nav"><a href="">Aides</a></li>
              <li class="li-nav"><a href="">Catalogue</a></li>
              <li class="li-nav"><a href="">Contact</a></li>
              <li class="li-nav"><a href=""><img class="panier-header" src="img/panier.png" alt="panier icon"></a></li>
              <li class="li-nav"><a href=""><img class="compte-header" src="img/utilisateur.png" alt="compte icon"></a></li>
              </ul>
          </nav>
        </header>