<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocFit by AMM</title>
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/video.css">
  </head>
  <body>
   
        <!-- La vidéo en arrière-plan -->
       
  
        <!-- Contenu de la page qui s'affiche par-dessus la vidéo -->
        <header>

          <nav>
            <ul>
              <li id="mainLOCFIT"><a href="">LOCFIT</a></li>
              <li><a href="">Aides</a></li>
              <li><a href="">Catalogue</a></li>
              <li><a href="">Contact</a></li>
              <li><a href=""><img class="panier-header" src="../public/img/panier.png" alt="panier icon"></a></li>
              <li><a href=""><img class="compte-header" src="../public/img/utilisateur.png" alt="compte icon"></a></li>
              </ul>
          </nav>
        </header>