<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LocFit by AMM</title>
  <link rel="stylesheet" href="/css/menu.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/video.css" />
  <link rel="stylesheet" href="/css/ana.css" />
  <link rel="stylesheet" href="/css/mael.css" />
  <link rel="stylesheet" href="/css/milo.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/js/script.js">
</head>
<body>
  <header>
    <nav class="nav-index2">
      <ul>
        <li id="mainLOCFIT"><a href="/">LOCFIT</a></li>
        <li class="li-nav"><a href="/help">Aides</a></li>
        <li class="li-nav"><a href="/catalogue">Catalogue</a></li>
        <li class="li-nav"><a href="/contact">Contact</a></li>
        <% if(role === 'admin') {%>
          <li class="li-nav"><a href="/inscriptionadmin">Admin</a></li>
        <% } %>
        <% if(role === 'agent') {%>
          <li class="li-nav"><a href="/addProduct">Gestion</a></li>
        <% } %>
        
        <% if (isAuth) { %>
          <li class="li-nav"><a href="/panier"><img class="panier-header" src="/img/panier.png" alt="panier icon"></a></li>
          <li class="li-nav"><a href="/compte"><img class="compte-header" src="/img/utilisateur.png" alt="compte icon"></a></li>
          <li class="li-nav"><a href="/deconnexion"><img class="compte-header" src="/img/deconnexion.png" alt="déconnexion icon"></a></li>
        <% } else { %>
          <li class="li-nav"><a href="/connexion"><img class="compte-header" src="img/utilisateur.png" alt="compte icon"></a></li>
        <% } %>

      </ul>
    </nav>
  </header>


<div class="video">
        
    <video autoplay muted loop playsinline>
      <source src="/video/course apied.mp4" type="video/mp4" />
      <source src="/video/course apied.webm" type="video/webm" />
      Votre navigateur ne supporte pas les vidéos en arrière-plan.
    </video>

    <div class="texte">
      <div class="main-para">
        <% if (isAuth) { %>
          <h1><%= name %>,<br> TESTEZ VOUS AU SPORT A <br> DOMICILE</h1>
          <% } else { %>
        <h1>TESTEZ VOUS<br> AU SPORT A <br> DOMICILE</h1>
        <% } %>
      </div>
      <div class="slogan">
        <p>Grâce à LocFit, découvrez l’univers du sport à domicile !</p>
      </div>
      <div class="btn-catalogue">
        <button type="submit"><a href="catalogue">Catalogue</a></button>
      </div>
      <div class="publocfit">
        <div class="age">
          <h3>0 - 100 ans</h3>
          <p class="petit">Pour tous les âges</p>
        </div>
        <div class="infos1">
          <h3>+2000</h3>
          <p class="petit">Produits utilisés par an</p>
        </div>
        <div class="infos2">
          <h3>+1500</h3>
          <p class="petit">Clients satisfaits</p>
        </div>
      </div>
    </div>
  </div>

<div class="banner ligh-background">
  <h2>CATEGORIES</h2>
</div>

<div class="categories ligh-background" >
  <div class="rotor">
    <marquee behavior="" direction="">
      Découvrez nos différentes machines
    </marquee>
  </div>
  <div class="allProduct">
  <div class="product">
    <div class="image-product">
      <img src="/img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Tapis de course</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="catalogue">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="/img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="catalogue">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="catalogue">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="catalogue">Découvrir</a></button>
    </div>
  </div>
</div>
</div>
<div class="bouton-container">
  <a href="catalogue" class="petitbouton">Catalogue <span class="arrow">→</span></a>
</div>


<div class="avis-clients" style="background-image: url('/img/chemin.png');">
  <h2 class="titreavis">NOS AVIS CLIENTS</h2>
  <div class="avis-container">
      <div class="avis">
          <h3>Sarah M. <span>⭐⭐⭐⭐⭐</span></h3>
          <p>"Le matériel était en bon état et la réservation s'est faite sans problème. Petit point à améliorer : la réactivité du service client. Mais dans l'ensemble, très satisfait, je reviendrai !"</p>
      </div>
      <div class="avis">
          <h3>Alex K. <span>⭐⭐⭐⭐⭐</span></h3>
          <p>"Rien à redire, tout était parfait ! Le site est simple à utiliser, le matériel loué était en excellent état et conforme à la description. Une expérience sans faute, je passerai par eux pour mes prochaines locations sans hésiter !"</p>
      </div>
      <div class="avis">
          <h3>James L. <span>⭐⭐⭐⭐⭐</span></h3>
          <p>"Le matériel était de qualité et conforme à la description. La livraison a été rapide, je suis vraiment satisfait. Juste un léger retard pour la confirmation, mais rien de grave. Je recommande !"</p>
      </div>
  </div>
</div>
</div>

<%- include('footer'); -%>