<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LocFit by AMM</title>
    <link rel="stylesheet" href="css/menu.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/video.css">
  </head>
  <body>
    <div class="video">
        <!-- La vidéo en arrière-plan -->
        <video autoplay muted loop playsinline>
          <source src="videos/course apied.mp4" type="video/mp4" />
          <source src="videos/course apied.webm" type="video/webm" />
          Votre navigateur ne supporte pas les vidéos en arrière-plan.
        </video>
  
        <!-- Contenu de la page qui s'affiche par-dessus la vidéo -->
        <header>
          <nav>
            <ul>
              <li id="mainLOCFIT"><a href="">LOCFIT</a></li>
              <li><a href="">Aides</a></li>
              <li><a href="">Catalogue</a></li>
              <li><a href="">Contact</a></li>
              <li><a href=""><img class="panier-header" src="images/icons/panier.png" alt="panier icon"></a></li>
              <li><a href=""><img class="compte-header" src="images/icons/utilisateur.png" alt="compte icon"></a></li>
              </ul>
          </nav>
        </header>
  
        <div class="texte">
          <div class="main-para">
            <h1>TESTEZ VOUS<br> AU SPORT A <br> DOMICILE</h1>
          </div>
          <div class="slogan">
            <p>Grâce à LocFit, découvrez l’univers du sport à domicile !</p>
          </div>
          <div class="btn-catalogue">
            <button type="submit">Catalogue</button>
          </div>
          <div class="publocfit">
            <div class="age">
              <h3>0 - 100 ans</h3>
              <p class="petit">Pour tous les âges</p>
            </div>
            <div class="infos1">
              <h3>+2000</h3>
              <p class="petit">Produits utilisés par an</p>
            </div>
            <div class="infos2">
              <h3>+1500</h3>
              <p class="petit">Clients satisfaits</p>
            </div>
          </div>
        </div>
      </div>

    <div class="banner">
      <h2>CATEGORIES</h2>
    </div>

    <div class="categories">
      <div class="rotor">
        <marquee behavior="" direction="">
          Découvrez nos différentes machines
        </marquee>
      </div>
      <div class="product">
        <div class="image-product">
          <img src="" alt="" />
        </div>
        <div class="title-product">
          <h4>Vélos</h4>
        </div>
        <div class="information-subject">
          <button class="btn-infos" type="button">Découvrir</button>
        </div>
      </div>
    </div>

    <div class="avis-section">
      <div class="title-avis">
        <h2>NOS AVIS CLIENTS</h2>
      </div>
      <div class="card-client">
        <div class="avis">
          <div class="stars">
            <!-- Trouver le code des étoiles -->
          </div>
          <div class="name-icon">
            <h5>Sophia M.</h5>
            <!-- Icon valdiation du client -->
          </div>
          <div class="avis-descritpion">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
              minima, obcaecati eligendi explicabo recusandae similique cum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="sectionLogo">
        <div class="logo-network">
          <div class="logofooter">
            <img src="" alt="" />
          </div>
          <div class="network">
            <div class="icons">
              <img src="" alt="" />
            </div>
            <div class="icons">
              <img src="" alt="" />
            </div>
            <div class="icons">
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="section2">
        <h5>LOCFIT</h5>
        <span>Lorem </span>
        <span>Lorem </span>
        <span>Lorem </span>
      </div>
      <div class="section3">
        <h5>LOCFIT</h5>
        <span>Lorem </span>
        <span>Lorem </span>
        <span>Lorem </span>
      </div>
      <div class="section4">
        <h5>LOCFIT</h5>
        <span>Lorem </span>
        <span>Lorem </span>
        <span>Lorem </span>
      </div>
    </footer>
  </body>
</html>
