<%- include('header'); -%>


<div class="video">
        
    <video autoplay muted loop playsinline>
      <source src="video/course apied.mp4" type="video/mp4" />
      <source src="video/course apied.webm" type="video/webm" />
      Votre navigateur ne supporte pas les vidéos en arrière-plan.
    </video>

    <div class="texte">
      <div class="main-para">
        <h1>TESTEZ VOUS<br> AU SPORT A <br> DOMICILE</h1>
      </div>
      <div class="slogan">
        <p>Grâce à LocFit, découvrez l’univers du sport à domicile !</p>
      </div>
      <div class="btn-catalogue">
        <button type="submit">Catalogue</button>
      </div>
      <div class="publocfit">
        <div class="age">
          <h3>0 - 100 ans</h3>
          <p class="petit">Pour tous les âges</p>
        </div>
        <div class="infos1">
          <h3>+2000</h3>
          <p class="petit">Produits utilisés par an</p>
        </div>
        <div class="infos2">
          <h3>+1500</h3>
          <p class="petit">Clients satisfaits</p>
        </div>
      </div>
    </div>
  </div>

<div class="banner">
  <h2>CATEGORIES</h2>
</div>

<div class="categories">
  <div class="rotor">
    <marquee behavior="" direction="">
      Découvrez nos différentes machines
    </marquee>
  </div>
  <div class="allProduct">
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Tapis de course</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="">Découvrir</a></button>
    </div>
  </div>
  <div class="product">
    <div class="image-product">
      <img src="img/tapis-de-course.png" alt="" />
    </div>
    <div class="title-product">
      <h4 class="title-product">Vélos</h4>
    </div>
    <div class="information-subject">
      <button class="btn-infos" type="button"><a class="link-discover" href="">Découvrir</a></button>
    </div>
  </div>
</div>
</div>

<div class="avis-section">
  <div class="title-avis">
    <h2>NOS AVIS CLIENTS</h2>
  </div>
  <div class="card-client">
    <div class="avis">
      <div class="stars">
        <!-- Trouver le code des étoiles -->
      </div>
      <div class="name-icon">
        <h5>Sophia M.</h5>
        <!-- Icon valdiation du client -->
      </div>
      <div class="avis-descritpion">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
          minima, obcaecati eligendi explicabo recusandae similique cum.
        </p>
      </div>
    </div>
  </div>
</div>

<%- include('footer'); -%>