<%- include('header'); -%>

    <div class="space">

    </div>

    <div class="banner">
        <h2>Produit</h2>
    </div>

    <div class="product-container">
        <div class="product-header">
            <h1>VELO</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h2>35€/j</h2>
            <div class="reserve">
                <label for="quantity">Quantité:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1">
                <button class="reserve-btn">Réserver</button>
            </div>
        </div>

        <div class="product-info">
            <img src="bike-image.png" alt="Fitness Bike" class="product-image">
            <div class="details">
                <ul>
                    <li>Dimensions : 142 x 57 x 142 cm</li>
                    <li>Poids maximal : 135 kg</li>
                    <li>Selle et guidon réglable</li>
                    <li>Connexion d'une tablette via Bluetooth</li>
                    <li>Nombre de niveaux d'entraînements : 11</li>
                </ul>
                <div class="illustration">
                    <img src="fitness-man.png" alt="Fitness Illustration">
                </div>
            </div>
        </div>
    </div>





    <%- include('footer'); -%>