<%- include('header'); -%>

    <div class="space">

    </div>

    <div class="banner">
        <h2>Produit</h2>
    </div>

    <div class="product-container">
        <div class="image-section">
            <img src="img/velo.png" alt="Vélo" class="product-image">
        </div>

        <div class="details-section">
            <h1>VELO</h1>
            <p class="description">
                "Lorem ipsum dolor sit amet nggnfg rjez,fdg qfqffq fjqf,qpofqsofjoqpj afjjaijfqpsjfp ap jajjfpsjdqpsjfpasjfqsjpq ajfp jjjjjjs jsjdsdj jsojdoajjj qsjajd oqs"
            </p>
            <h2 class="price">35€/j</h2>
            <div class="delivery-info">
                <span>Retrait <strong>GRATUIT</strong></span> en magasin et point relais
            </div>
            
            <div class="quantity-reserve">
                <div class="quantity-controls">
                    <button class="minus-btn">-</button>
                    <input type="number" value="1" min="1">
                    <button class="plus-btn">+</button>
                </div>
                <button class="reserve-btn">Réserver</button>
            </div>
        </div>
    </div>

    <div class="specs-container">
        <div class="specs-section">
            <ul>
                <li>Dimensions : 142 x 57 x 142 cm</li>
                <li>Poids maximal : 136 kg</li>
                <li>Selle et guidon réglable</li>
                <li>Connexion d'une tablette via Bluetooth</li>
                <li>Nombre de niveaux d'entraînements : 11</li>
            </ul>
        </div>
        
        <div class="middle-illustration">
            <img src="motivation.png" alt="A vous de jouer">
        </div>

        <div class="fitness-image">
            <img src="fitness-diagram.png" alt="Fitness Program">
        </div>
    </div>



    <%- include('footer'); -%>